@import "tailwindcss";

*{
  font-family: "Facebook Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


body{
  @apply w-screen h-screen bg-blue-200;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: darken(#cbd5e1, 10%);
  /* border-radius: 4px; */
}

::-webkit-scrollbar-track {
  background-color: transparent;
}